@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui/index.js" {
  themes: all;
  /*exclude: [ "link"];*/
}

@theme {
  --font-logo: "Caveat Brush", cursive;
  --font-sans: "Noto Sans";
}
@utility container {
  @apply px-4;
}

@utility link {
  @apply hover:underline;
}

@utility fade {
  @apply ring-current/30 border-current/30;
}
@utility page-wrap {
  @apply container py-8 mx-auto min-h-140;
}
@utility dash-wrap {
  @apply container py-4 mx-auto;
}
